<div class="wvu-footer__credits" role="contentinfo">
  <ul>
    {{#_wvu-footer__credits.links}}
    <li><a href="{{href}}">{{title}}</a></li>
    {{/_wvu-footer__credits.links}}
  </ul>

  <p>{{_wvu-footer__credits.copyright}}</p>
</div> <!-- /.wvu-footer__credits -->
