// WVU Footer - Credits
//==================================================
$wvu-footer-breakpoint: 'min-width: 48em' !default;

.wvu-footer__credits {
  float: left;
  padding-bottom: 13px;
  
  @media (#{$wvu-footer-breakpoint}) {
    float: left;
    width: 50%;
  }
  
  ul,
  p { 
    margin: 0;
    margin-bottom: 6px; 
    padding: 0;
    
    @media (#{$wvu-footer-breakpoint}) {
      margin-bottom: 0;
    }
  }
  
  li {
    display: inline;
    list-style-type: none; 

    &:before {
      content: ''; 
      padding-right: 3px;
    } 
    
    &:first-child:before {
      content: ''; 
      padding-right: 0;
    }
  }
} // .wvu-footer__credits
